body{
	color: #fff;
	font-family: 'Russo One', sans-serif;
	background: url(../img/background.jpg);
}
header{
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
}
header h1{
	font-size: 30px;
}
.container{
	position: relative;
	width: 1000px;
	margin: 10px auto;
}
nav{
	width: 100PX;
	height: 768px;
	padding: 10px;
	float: left;
	color: #fff;
}

nav ul li {
	list-style-type: none;
}
section{
	width: 768PX;
	padding: 10px;
	float: left;
}
section a{
	margin-right: 10px;
}
section img:hover{
	-webkit-filter: drop-shadow(5px 5px 10px red); /* Safari */
    filter: drop-shadow(5px 5px 10px red);
}
footer{
	bottom: 0;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	clear: both;
}
