body{
	background: #A8DADC;
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 50px;
}
a{
	color: #F1FAEE;
	text-decoration:none;
}
a:hover{
	color: #E63946;
}
.header{
	position: relative;
	text-align: center;
}
.content{
	position: relative;
	top: 10px;
	font-family: 'Bungee Shade', cursive;
}
.resume{
	position: relative;
	float: left;
	left: 580px;
	font-size: 80px;
	text-align: center;

}
.food{
	position: relative;
	top: 10px; 
	left: 580px;
	font-size: 30px;
}