body{
	background: #A8DADC;
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 50px;
}
a{
	color: #F1FAEE;
	text-decoration:none;
}
a:hover{
	color: #E63946;
}
.header{
	position: relative;
	text-align: center;
}
.content{
	position: relative;
	top: 10px;
	font-family: 'Bungee Shade', cursive;
	text-align: center;
}
.content a{
	font-size: 48px;
}