body{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 960px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #373C38;
}
/*白線*/
hr{
	height: 1px;
	background-color: white;
}
/*左邊*/
aside{
	text-align: left;
	display: block;
}
/*尾巴*/
footer{
	position: absolute;
	height: 20px;
	right: 0px;
	bottom: 0;
	font-style: italic;
	color: #91989F;
}
.photo{
	position: relative;
	width: 260px;
	border-radius: 100%;
	height: 260px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}
.photo:hover{
	-webkit-transform: translate(10px,0px);
	transform: translate(10px,0px);
}
/*介紹h1*/
.profile h1{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
}
.profile h2{
	color: #fff;
}
.profile h3{
	color: #F596AA;
	font-family:'Poiret One', cursive;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.profile p{
	color:white;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.8;
	overflow: auto; 
	color: #91989F;
}
/*技能*/
.skillbar{
	font-family:'Poiret One', cursive;
	text-align: center;
	display: block;
	clear: both;
	padding-top: 30px;
}
.skill{
	width: 60px;
	height: 60px;
	border-width: 2px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	color: white;
	line-height: 30px;
	float: left;
	margin-top: 10px;
	margin-right: 30px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}
.skill:hover{
	-webkit-transform: translate(0px,-10px);
	transform: translate(0px,-10px);
}
.contentsection{
	display: block;
	position: relative;
	float: left;
	padding-top: 40px;
	padding-left: 300px;
	padding-bottom: 20px;
}
.content{
	position: relative;
	display: block;
	margin-bottom: 50px;
	font-family: sans-serif;
	color: #91989F;
	font-size: 14px;
	font-weight: 50;
	float: left;
	clear: both;
}
.content h2{
	color: #F596AA;
}
.content h4{
	color: white;
}
.content span{
	color: #F7D94C;
}
.content p{
	line-height: 1.8;
}
.content a{
	color: #F596AA;
	text-decoration: none;
}
#campass{
	fill: red;
	fill-rule: evenodd;
}
/*桌機*/
@media only screen and (min-width: 1025px) {
/*最上面*/
aside{
	text-align: left;
}
.photo{
	float: left;
	margin-top: 10%;
	margin-right: 5%;

}
.profile{
	padding-top: 10%;
}
}
/*手機*/
@media only screen and (min-width : 285px) and (max-width : 480px){
aside {
	text-align: center;
	width: 100%;
	float: none;
}
.photo{
	display: inline-block;
}
.profile h1 h3{
	text-align: center;
}
.profile p{
	text-align: justify;
}
.skillbar{
	text-align: center;
	display: block;
	clear: both;
	margin-top: 20px;
	margin-bottom: 15%;
	padding-left: 5%;
}
.skill{
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-top: 30px;
	margin-right: 10px;
}
.contentsection{
	padding-top: 80%;
	padding-left: 0%;

}
}